# GitHub OAuth
GITHUB_ID=your_github_oauth_app_client_id
GITHUB_SECRET=your_github_oauth_app_client_secret

# NextAuth.js Secret - Bu değeri güvenli bir şekilde oluşturun
NEXTAUTH_SECRET=your_nextauth_secret

# NextAuth.js URL
NEXTAUTH_URL=http://localhost:3001